/*VARIABLES*/
:root{
    --marron: brown;
    --blanco: rgb(230, 217, 210);
    --gris: #797979;
}

/*TODA LA PÁGINA*/
*{ 
    /*Para quitar los márgenes*/
    margin: 0;
    padding: 0;
    text-align: center; /*Alinear en el centro los textos*/
    font-weight: bold;  /*Poner negrita*/
}

/*Fuente descargada*/
@font-face{                                       /*Declaramos para usarla*/
    font-family: Pokemon;                         /*Nombre puesto por nosotros*/
    src: url("./letterFont/Pokemon\ Hollow.ttf"); /*Donde se coge*/
}

/*CABECERA*/
header{ 
    /* --marron: yellow; */          /*Si se usa en otra clase y se cambia el contenido a partir de ahí lo usa de este modo*/
    background-color: var(--marron); /*Fondo del encabezado*/
    min-width: 100vh;                /*Ancho de la cabecera*/
    height: 100%;                    /*Alto de la cabecera*/
    top: 0;                          /*Se coloca arriba del todo*/
    /*Texto*/
    font-family: "Pokemon";          /*Fuente Descargada: Ponemos aquí el nombre de como hemos declarado la fuente descargada, arriba se declara*/
    color: var(--blanco);            /*Color de la letra*/
}

/*Título de la cabecera*/
#tituloHead{
    /*Posición*/
    position: relative;
    margin-top: -3vh; 
    z-index: 1; /*Colocar delante del icono*/
}

/*Contenedor de la imagen de la cabecera*/
#cabeceraHead{
    margin-top: -8vh; /*Cuadrar imagen con el título*/
}

/*Imagen de la cabecera*/
#imagenHead{
    align-items: center; /*Centrar imagen verticalmente*/
    width: 5vh;
    margin-left: 20vh;
    opacity: 0.8; /*Esté más transparente de lo normal*/
    z-index: -1; /*Poner bola atrás del título*/
}

/*CONTENEDOR - MAIN*/
.container{
    /*GRID*/
    display: grid; /*Para hacerlo responsive, dividimos por filas y columnas*/
    grid-template-columns: repeat(2, 1fr); /*Definimos el grosor de las columnas, ponemos para que sean 4 columnas con el mismo grosor(1fr)*/
    /*Estructuramos donde se verán cada parte*/
    grid-template-areas: "boton solluna"
                         "titulo titulo"
                         "imagen imagen"
                         "numero tipo" 
                         "peso altura"
                         "vida ataque"
                         "defensa ataqueEspecial"
                         "defensaEspecial velocidad"
                         "evolucion evolucion";
    grid-gap: 5vh;  /*Separación entre elementos*/  
    color: var(--gris);
    margin-left: 20vh;
}

/*Modo oscuro/claro*/
.solluna {
    /*Posición*/
    grid-area: solluna; /*GRID*/
    /*Cuadrar iconos dentro del div*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Cuadrar y formar div*/
    margin-top: 1vh;
    margin-bottom: -6vh;
    width: 45%;
    border-radius: 5vh;
    box-shadow: 1vh 2vh 3vh rgb(43, 42, 42); /*Sombrear, para efecto 3D*/
    background: linear-gradient(90deg, rgb(243, 222, 0) 0%, rgb(255, 187, 0) 35%, rgb(0, 0, 1) 100%); /*Fondo con gradiente*/
}


#imagenPokemon{
    grid-area: imagen;
    margin-top: 5vh;
    
}


#textoPokemon {
    grid-area: titulo;
    font-size: 6vw;
}

#numeroPokemon{
    grid-area: numero;
}

#tipoPokemon{
    grid-area: tipo;
    background-color: rgb(0, 82, 54);
    border-radius: 15px;
    color: var(--blanco);
    outline: solid black;
}

#pesoPokemon{
    grid-area: peso;
}

#alturaPokemon{
    grid-area: altura;
}

.bordes{
    border: var(--marron) solid 1vh;
}


.vida{
    grid-area: vida; 
}

.ataque{
    grid-area: ataque; 
}

.defensa{
    grid-area: defensa;
}

.ataqueEspecial{
    grid-area: ataqueEspecial; 
}

.defensaEspecial{
    grid-area: defensaEspecial; 
}

.velocidad{
    grid-area: velocidad; 
}

.evolucion{
    grid-area: evolucion; 
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.evolucionar{
    width: 100%;
    /* border: #797979 solid 1vh; */
}

/*Pie de página*/
footer{
    background-color: var(--marron);
    min-width:100vh; /*Para el ancho que se acortaba y de este modo se extiende en todas las dimensiones*/
    height: 5vh;
    /*Texto*/
    color: var(--blanco);
}

/*MODO OSCURO/CLARO*/
/* .modoOscuro {
    background-color:#1A1C1E;
    color:white;
} 

.modoClaro {
    background-color:#ffffff;
    color:black;
}  */
/*gradiente para la sombra con after y before*/


/*Rodear cada letra del texto y la caja -> outline que pide*/





