#cabeceraHead{
    margin-top: -8vh;
}

#tituloHead{
    margin-left: 1vh;
}

#imagenHead{
    margin-left: 18vh;
}

.container{
    margin-left: 0;
    font-size: 2vw;
}

.efecto3D {
    width: 40%; 
}

.textoPokemon {
    font-size: 4vw;
}

 .tipoPokemon, .numeroPokemon, .pesoPokemon, .alturaPokemon{
    width: 30%;
    margin: auto; 
} 

footer{
    margin-top: 40vh;
}

