/*VARIABLES*/
:root{
    --marron: brown;
    --blanco: rgb(230, 217, 210);
    --gris: #797979;
}

/*TODA LA PÁGINA*/
*{ 
    /*Para quitar los márgenes*/
    margin: 0;
    padding: 0;
    text-align: center; /*Alinear en el centro los textos*/
    font-weight: bold;  /*Poner negrita*/
}

/*Fuente descargada*/
@font-face{                                       /*Declaramos para usarla*/
    font-family: Pokemon;                         /*Nombre puesto por nosotros*/
    src: url("./letterFont/Pokemon\ Hollow.ttf"); /*Donde se coge*/
}

/*CABECERA*/
header{ 
    /* --marron: yellow; */          /*Si se usa en otra clase y se cambia el contenido a partir de ahí lo usa de este modo*/
    background-color: var(--marron); /*Fondo del encabezado*/
    min-width: 100vh;                /*Ancho de la cabecera*/
    height: 100%;                    /*Alto de la cabecera*/
    top: 0;                          /*Se coloca arriba del todo*/
    /*Texto*/
    font-family: "Pokemon";          /*Fuente Descargada: Ponemos aquí el nombre de como hemos declarado la fuente descargada, arriba se declara*/
    color: var(--blanco);            /*Color de la letra*/
}

/*Título de la cabecera*/
#tituloHead{
    /*Posición*/
    position: relative;
    margin-top: -3vh; 
    z-index: 1; /*Colocar delante del icono*/
}

/*Contenedor de la imagen de la cabecera*/
#cabeceraHead{
    margin-top: -8vh; /*Cuadrar imagen con el título*/
}

/*Imagen de la cabecera*/
#imagenHead{
    align-items: center; /*Centrar imagen verticalmente*/
    width: 5vh;
    margin-left: 20vh;
    opacity: 0.8; /*Esté más transparente de lo normal*/
    z-index: -1; /*Poner bola atrás del título*/
}

/*CONTENEDOR - MAIN*/
.container{
    /*GRID*/
    display: grid; /*Para hacerlo responsive, dividimos por filas y columnas*/
    grid-template-columns: repeat(2, 1fr); /*Definimos el grosor de las columnas, ponemos para que sean 4 columnas con el mismo grosor(1fr)*/
    /*Estructuramos donde se verán cada parte*/
    grid-template-areas: "boton solluna"
                         "titulo titulo"
                         "imagen imagen"
                         "numero tipo" 
                         "peso altura"
                         "vida ataque"
                         "defensa ataqueEspecial"
                         "defensaEspecial velocidad"
                         "evolucion evolucion";
    grid-gap: 5vh;  /*Separación entre elementos*/  
    color: var(--gris);
    margin-left: 20vh;
}

/*Atrás*/
.boton{
    grid-area: boton;
    margin-top: 5vh;
    text-decoration: none; /*Quitar subrayado*/
    color: var(--gris);
    background-color: white;
    border-radius: 2vh;
    box-shadow: 0 0 3vh 10px rgba(0, 0, 0, 0.2);
    width: 15vh;
    text-align: center;
    padding: 2vh;
    margin-left: -10vh;
    font-size: 5vh;
}

.boton:hover{
    background-color: var(--marron);
    box-shadow: 0 0 3vh 10px red;
    color: var(--blanco);
}

/*Modo oscuro/claro*/
.solluna {
    /*Posición*/
    grid-area: solluna; /*GRID*/
    /*Cuadrar iconos dentro del div*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Cuadrar y formar div*/
    margin-top: 3vh;
    margin-bottom: -6vh;
    margin-left: 20vh;
    width: 10vh;
    height: 10vh;
    padding: 1vh;
    border-radius: 10vh; /*Redondear*/
    box-shadow: 1vh 2vh 3vh rgb(43, 42, 42); /*Sombrear, para efecto 3D*/
    background: linear-gradient(90deg, rgb(243, 222, 0) 0%, rgb(255, 187, 0) 35%, rgb(0, 0, 1) 100%); /*Fondo con gradiente*/
}

.solluna:hover{
    transform: scale(1.2, 1.2); 
}

.separar{
    margin-left: 2vh;
}

/*Modificado por JavaScript*/
body.darkMode {
  background-color: #222;
  color: #fff;
}

#modoOscuro{
    cursor: pointer; /*Dedo índice*/
}


/*Texto*/
#textoPokemon {
    grid-area: titulo;
    margin-top: 2vh;
    margin-bottom: -50vh;
    margin-left: -10vh;
    font-size: 15vh;
    /*Efecto 3D*/
    text-shadow: 0 1px 0 hsl(170, 90%, 71%),
                 0 2px 0 hsl(174,5%,75%),
                 0 3px 0 hsl(174,5%,70%),
                 0 4px 0 hsl(174,5%,66%),
                 0 5px 0 hsl(174,5%,64%),
                 0 6px 0 hsl(174,5%,62%),
                 0 7px 0 hsl(174,5%,61%),
                 0 8px 0 hsl(174,5%,60%),

                 0 0 5px rgba(0,0,0,.05);
    /*Animación*/
    animation-name: tituloPokemon; /*Nombre del @keyframes*/
    animation-duration: 6s; /*Duración del efecto*/
}


@keyframes tituloPokemon { /*Nombre del efecto*/
    0% {  /*Inicio*/
        left: 100%;    /*Lado izquierdo*/
        transform: scale(0.1); /*Tamaño a la mitad*/
        -ms-transform: scale(0.1); 
        -webkit-transform: scale(0.1); 
        -moz-transform: scale(0.1);   
    } 
    50% { /*Mitad*/
        left: 50%; /*Centro*/
        transform: scale(2); /*El doble de tamaño*/
        -ms-transform: scale(2); 
        -webkit-transform: scale(2); 
        -moz-transform: scale(2);   
    } 
    100% { /*Final*/
        left: 0; /*Lado derecho*/
        transform: scale(1); /*Tamaño real*/
        -ms-transform: scale(1); 
        -webkit-transform: scale(1); 
        -moz-transform: scale(1);   
    }
}

/*Imagen*/
.posicionPokemon{
    /*Posición*/
    grid-area: imagen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vh;
}

#numeroPokemon, #tipoPokemon, .vida, .ataque, .defensa, .ataqueEspecial, .defensaEspecial, .velocidad{
    font-size: 5vh;
}

#numeroPokemon, #pesoPokemon, #alturaPokemon {
    font-size: 8vh;
}

/*Id*/
#numeroPokemon{
    grid-area: numero;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Tipos*/
#tipoPokemon{
    grid-area: tipo;
    border-radius: 15px;
    color: var(--blanco);
    outline: solid black;
}

/*Peso*/
#pesoPokemon{
    grid-area: peso;
}

/*Peso*/
#alturaPokemon{
    grid-area: altura;
}

/*Barras de vida, ataque, atque especial, defensa especial y velocidad*/
/* .vida, .defensa, .defensaEspecial{
    margin-left: 8vh;
} */

.englobar{
    border: solid 1vh var(--gris);
    border-radius: 5vh;
    padding: 5vh;
}

.vida{
    grid-area: vida; 
}

.ataque{
    grid-area: ataque; 
}

.defensa{
    grid-area: defensa;
}

.ataqueEspecial{
    grid-area: ataqueEspecial; 
}

.defensaEspecial{
    grid-area: defensaEspecial; 
}

.velocidad{
    grid-area: velocidad; 
}

/*Evoluciones*/
.evolucion{
    grid-area: evolucion; 
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.evolucionar{
    width: 100%;
    /* border: #797979 solid 1vh; */
}

/*Pie de página*/
footer{
    background-color: var(--marron);
    min-width:100vh; /*Para el ancho que se acortaba y de este modo se extiende en todas las dimensiones*/
    height: 5vh;
    color: var(--blanco);
}

/*MODO OSCURO/CLARO*/
/* .modoOscuro {
    background-color:#1A1C1E;
    color:white;
} 

.modoClaro {
    background-color:#ffffff;
    color:black;
}  */
/*gradiente para la sombra con after y before*/


/*Rodear cada letra del texto y la caja -> outline que pide*/





