#cabeceraHead{
    margin-top: -8vh;
}

#tituloHead{
    margin-left: 1vh;
}

.container{
    display: grid; 
    grid-template-columns: 2fr, repeat(2, 1fr);
    grid-template-areas: "boton titulo titulo solluna"
                         "imagen imagen numero tipo" 
                         "imagen imagen peso altura"
                         "imagen imagen vida velocidad"
                         "imagen imagen defensa ataque"
                         "imagen imagen defensaEspecial ataqueEspecial"
                         "evolucion evolucion evolucion evolucion";
    margin-left: 0;
    font-size: 2vw;
}

.boton{
    margin-left: 10vh;
}

.solluna{
    grid-area: solluna; 
    width: 10%;
    margin-left: 70vh;
}

#textoPokemon {
    grid-area: titulo;
    margin: auto; 
    margin-left: 45vh;
}

.posicionPokemon{
    grid-area: imagen;
    margin-left: 20vh;
}

#tipoPokemon, #numeroPokemon, #pesoPokemon, #alturaPokemon{
    width: 30%;
    margin: auto; 
    margin-left: 30vh;
   
} 

#numeroPokemon{
    grid-area: numero;
}

#tipoPokemon{
    grid-area: tipo;
}

#pesoPokemon{
    grid-area: peso;
}

#alturaPokemon{
    grid-area: altura;
}

.vida{
    grid-area: vida; 
}

.ataque{
    grid-area: ataque; 
    margin-left: -5vh;
}

.defensa{
    grid-area: defensa;
    margin-left: 6vh;
}

.ataqueEspecial{
    grid-area: ataqueEspecial; 
}

.defensaEspecial{
    grid-area: defensaEspecial; 
    margin-left: 15vh;
}

.velocidad{
    grid-area: velocidad; 
}

.evolucion{
    grid-area: evolucion; 
}

.vidaPosicion, .defensaPosicion{
    margin-left: 20vh;
}

.vidaPosicion2{
    margin-left: 22vh;
}

.defensaPosicion2{
    margin-left: 15vh;
}

.defensaEspecialPosicion{
    margin-left: 25vh;
}

.defensaEspecialPosicion2{
    margin-left: 6vh;
}

.velocidadPosicion{
    margin-left: -7vh;
}

.velocidadPosicion2{
    margin-left: -15vh;
}

.ataquePosicion{
    margin-left: 15vh;
}

.ataquePosicion2{
    margin-left: 11vh;
}

.ataqueEspecialPosicion{
    margin-left: 6vh;
}

.ataqueEspecialPosicion2{
    margin-left: -11vh;
}

footer{
    margin-top: 10vh;
}

