/*TODA LA PÁGINA*/
*{ 
  /*Para quitar los márgenes*/
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {  
  background-color: brown;   
  font-family: "Pokemon";  
  min-width: 100%;
  top: 0;  
  height: 100%;
  text-align: center;
  color: rgb(230, 217, 210);
}

/*Contenedor de la imagen de la cabecera*/
#cabeceraHead{
  margin-top: -8vh; /*Cuadrar imagen con el título*/
}

/*Imagen de la cabecera*/
#imagenHead{
  align-items: center; /*Centrar imagen verticalmente*/
  width: 5vh;
  margin-left: 25vh;
  opacity: 0.8; /*Esté más transparente de lo normal*/
  z-index: -1; /*Poner bola atrás del título*/
}

main {
  justify-content: center;
  padding: 20px;
}

footer {
    width: 100%;
    background-color: brown;
    bottom: 0;
    text-align: center;
    color: white;
    height: 8vh;
}

#tituloHead {
    position: relative;
    margin-top: -3vh;
    z-index: 1;
}

@font-face { 
    font-family: Pokemon; 
    src: url("./letterFont/Pokemon\ Hollow.ttf");
}
     
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* tres columnas iguales */
  row-gap: 20px; /* espaciado entre las tarjetas */
  justify-items: center; /* centrar las tarjetas horizontalmente */
  margin-top: 25px;
  margin-left: 150px;
  margin-right: 150px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

#toggle-mode{
  cursor: pointer; /*Dedo índice*/
/*Modo oscuro/claro*/
  /*Posición*/
  /*Cuadrar iconos dentro del div*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*Cuadrar y formar div*/
  margin-top: 3vh;
  margin-bottom: -6vh;
  margin-left: 120vh; 
  width: 10vh;
  height: 10vh;
  padding: 1vh;
  border-radius: 10vh; /*Redondear*/
  box-shadow: 1vh 2vh 3vh rgb(43, 42, 42); /*Sombrear, para efecto 3D*/
  color: white;
  background: linear-gradient(90deg, rgb(243, 222, 0) 0%, rgb(255, 187, 0) 35%, rgb(0, 0, 1) 100%); /*Fondo con gradiente*/
}

.separar{
  margin-left: 2vh;
}

#toggle-mode:hover{
  transform: scale(1.2, 1.2); 
  cursor: pointer; /*Dedo índice*/
}



label {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #333;
  width: 200px;
  height: 40px;
  text-align: center;
  outline: none;
}

input[type="text"]:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

.pokemon-card.dark-mode {
  background-color: #666;
}

.pokemon-card.dark-mode .name,
.pokemon-card.dark-mode span:nth-of-type(2) {
  color: #fff;
}

.mover:hover{
  animation-name: primera;                /*Nombre a elegir para que se haga el efecto abajo descrito (keyframes)*/
    animation-duration: 1s;                 /*Duración*/
    animation-direction: normal;            /*Dirección*/
    animation-timing-function: linear;        /*Velocidad*/
    animation-fill-mode: both;               
}

@keyframes primera{                         
  0%{                                   
        transform: scale(1,1);
      }
  50%{                                     
        transform: scale(1.5,1.5);
    }
    100%{                                   
        transform: scale(1,1);
      }
} 
