*{ 
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, sans-serif;
}
body.dark_mode{
  background-color: #363535;
  color: #ffffff;
}
body.dark_mode label{
  background-color: #363535;
  color: #ffffff;
}
@font-face{ 
  font-family: Pokemon; 
  src: url("./letterFont/Pokemon\ Hollow.ttf");
}


/* ----------------------------HEADER---------------------------- */
header{  
  background-color: brown;   
  font-family: "Pokemon";  
  min-width: 100%;
  top: 0;  
  height: 25vh;
  text-align: center;
  color: rgb(230, 217, 210);
}

/* -----------Título----------- */
#tituloHead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

/* -----------Botones GitHub----------- */
#gitbuttons{
  position: relative;
  top: -60px;
}
.button-link{
  display: inline-block;
  width: auto;
  margin-top: 40px;
  text-decoration: none;
}
#botonGit1, #botonGit2{
 
  margin-right: 10px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Arial, sans-serif;
  z-index: 9999;
}
#botonGit1:hover, #botonGit2:hover{
  cursor: pointer;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  border-radius: 20%;
}
#botonGit1 img, #botonGit2 img{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

/* -----------Imagen Pokeball----------- */
#pokeballIzq{
  position: absolute;
  top: 20px;
  left: 0;
  width: 100px;
  height: 100px;
}
#pokeballDer{
  position: absolute;
  top: 20px;
  right: 0;
  width: 100px;
  height: 100px;
}

/* ----------------------------MAIN---------------------------- */
main{
  justify-content: center;
  padding: 20px;
}

/* -----------Botón volver arriba----------- */
#myBtn{
  display: none; 
  position: fixed; 
  bottom: 40px; 
  right: 40px; 
  z-index: 99; 
  border: none;
  background-color: transparent;
}
#myBtn:hover{
  cursor: pointer;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 50%;
}

/* -----------Botón claro/oscuro----------- */
#claroscuro{
  position: fixed;
  right: 40px;
}
#sun{
  display:none;
  height: 50px; 
  width: 50px;
}
#moon{ 
  height: 50px; 
  width: 50px;
}
#sun:hover{
  cursor:pointer;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 60%;
}
#moon:hover{
  cursor:pointer;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 60%;
}

/* -----------Buscador Pokemons----------- */
.search-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
label {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="text"]{
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #333;
  width: 200px;
  height: 40px;
  text-align: center;
  outline: none;
}
input[type="text"]:focus{
  box-shadow: 0px 0px 25px rgb(255, 0, 0);
}

/* -----------Contenedor Pokemons----------- */
.grid-container{
  display: grid;
  justify-items: center; 
  align-items: center;
  grid-template-columns: repeat(3, 1fr); 
  row-gap: 20px; 
  margin-top: 25px;
  margin-left: 150px;
  margin-right: 150px;
}

/* ----------------------------FOOTER---------------------------- */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: brown;
  bottom: 0;
  text-align: center;
  color: white;
  height: 8vh;
}
     
/* ----------------------------CARTA POKEMON---------------------------- */
.pokemon_card{
  cursor: pointer; 
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  width:275px; 
  height:408px; 
  border:1px solid #ddd; 
  border-radius:10px; 
  background-color:#ab6262;
}
.pokemon_card:hover{
  box-shadow: 0 0 40px rgb(255, 0, 0);
}
.types{
  display:flex; 
  justify-content:center;
}

.numero{
  font-weight:bold; 
  display:block; 
  text-align:center;
}

.name{
  margin-top: 10px; 
  text-align:center; 
  font-size: 25px;
}



