body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {  
  background-color: brown;   
  font-family: "Pokemon";  
  width: 100%;
  top: 0;  
  height: 100%;
  text-align: center;
  color: rgb(230, 217, 210);
}

main {
  justify-content: center;
  padding: 20px;
}

.buscar {
  text-align: center;
}

.pokemons-container {
  display: grid;
  grid-template-columns: repeat(4,35vh) ;
  width: 100%;
}

.pokemon-item { 
  border: 1px solid #333;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #333; 
  align-items: center;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 45%;
}

footer {
    width: 100%;
    background-color: brown;
    bottom: 0;
    text-align: center;
    color: white;
    height: 8vh;
}

#tituloHead {
    margin-top: -4vh;
    z-index: 10;
}

@font-face { 
    font-family: Pokemon; 
    src: url("./letterFont/Pokemon\ Hollow.ttf");
}
     
.nombre {
      font-weight: bold;
      color: blue;
	    margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;  
  column-gap: 250px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);  
  padding: 15px;
  font-size: 30px;
  text-align: center;
}
