*{ 
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {  
  background-color: brown;   
  font-family: "Pokemon";  
  min-width: 100%;
  top: 0;  
  height: 100%;
  text-align: center;
  color: rgb(230, 217, 210);
}

#claroscuro{
  position: fixed;
  right: 40px;
}

main {
  justify-content: center;
  padding: 20px;
}

footer {
    width: 100%;
    background-color: brown;
    bottom: 0;
    text-align: center;
    color: white;
    height: 8vh;
}

#tituloHead {
    position: relative;
    margin-top: -3vh;
    z-index: 1;
}

@font-face { 
    font-family: Pokemon; 
    src: url("./letterFont/Pokemon\ Hollow.ttf");
}
     
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  row-gap: 20px; 
  justify-items: center; 
  margin-top: 25px;
  margin-left: 150px;
  margin-right: 150px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

label {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #333;
  width: 200px;
  height: 40px;
  text-align: center;
  outline: none;
}

input[type="text"]:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

.pokemon-card.dark-mode {
  background-color: #666;
}

.pokemon-card.dark-mode .name,
.pokemon-card.dark-mode span:nth-of-type(2) {
  color: #fff;
}

.pokemon-card:hover {
  box-shadow: 0 0 20px rgb(255, 0, 0);
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 40px; 
  right: 40px; 
  z-index: 99; 
  border: none;
  background-color: transparent;
}

#myBtn:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 50%;
}

#sol:hover{
  cursor:pointer;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 60%;
}
#luna:hover{
  cursor:pointer;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 60%;
}