/*Variables*/
:root{
    --marron: brown;
    --blanco: rgb(230, 217, 210);
}
/*Toda la página*/
*{ /*Para quitar los márgenes*/
    margin: 0;
    padding: 0;
}

/*Fuente descargada*/
@font-face{ /*Declaramos para usarla*/
    font-family: Pokemon;  /*Nombre puesto por nosotros*/
    src: url("./letterFont/Pokemon\ Hollow.ttf"); /*Donde se coge*/
}

/*Cabecera*/
header{ 
    /* --marron: yellow; *//*Si se usa en otra clase y se cambia el cotnenido a partir de ahí lo usa de este modo*/
    background-color: var(--marron); /*Fondo del encabezado*/
    min-width: 100vh; /*Ancho de la cabecera*/
    height: 100%;
    /*Posición de la cabecera*/
    top: 0;  /*Se coloque arriba del todo*/
    /*Texto*/
    font-family: "Pokemon";   /*Fuente Descargada: Ponemos aquí el nombre de como hemos declarado la fuente descargada, arriba se declara*/
    text-align: center;
    color: var(--blanco);
}

#tituloHead{
    margin-top: -3vh; /*Título arriba*/
    z-index: 5;
}

#cabeceraHead{
    margin-top: -8vh; /*Cuadrar imagen con el título*/
}

#imagenHead{
    position: relative;
    align-items: center;
    width: 5vh;
    z-index: 1; /*Poner bola atrás del título*/
    margin-left: 20vh;
    opacity: 0.8; 
}

.container{
    /*GRID*/
    display: grid; /*Para hacerlo responsive, dividimos por filas y columnas*/
    grid-template-columns: repeat(2, 1fr); /*Definimos el grosor de las columnas, ponemos para que sean 4 columnas con el mismo grosor(1fr)*/
    grid-gap: 10vh;  /*Separación entre elementos*/
    margin-left: 15vh;
    /* align-items: center; */
}

/*Cuerpo*/
main{
    margin: 0; /*Quitar los márgenes de fuera*/
    /*Texto*/
    text-align: center;
    font-size: 5vh;
}

.efectoPolaroid {
    background-color:white;
    padding: 2vh 1vw 5vh;
    margin-bottom: -30vh; 
    border:1vw solid #BFBFBF;
    box-shadow: 3vh 5vh 5vh rgb(43, 42, 42);
    width: 20vh; 
}

.textoPolaroid {
    display:block;
    margin-top: 24vh;
    text-align:center;
    font-size: 2vw;
    color: #797979;
}

/*Pie de página*/
footer{
    background-color: var(--marron);
    min-width:100vh; /*Para el ancho que se acortaba y de este modo se extiende en todas las dimensiones*/
    height: 5vh;

    /*PROVISIONAL*/
    /* bottom: 0; */ /*SE PONE Y SE CAMBIA POR EL DE ABAJO CUANDO SE INTRODUZCAN TODOS LOS POKEMONS*/
    margin-top: 50vh; /*SE QUITA CUANDO SE PONGAN TODOS LOS POKEMONS*/
    /*PROVISIONAL*/

    /*Texto*/
    text-align: center;
    color: var(--blanco);
}

.pie{
    font-weight: bold; /*Poner negrita*/
}





/*gradiente para la sombra con after y before*/








