#cabeceraHead{
    margin-top: -8vh;
}

#tituloHead{
    margin-left: 1vh;
}

#imagenHead{
    margin-left: 18vh;
}


.container{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    /* grid-template-areas: "containerPokemon containerPokemon2 containerPokemon3 containerPokemon4";  */
    grid-gap: 1vh;  
    margin-left: 0;
    margin-top: 2vh;
}

.efectoPolaroid {
    width: 30vh; 
}

.textoPolaroid {
    font-size: 1.5vw;
    margin-top: 17vh;
    margin-bottom: -4vh;
}

.tipoPokemon li{
    font-size: 1.5vw;
}

.buscador{
    margin-bottom: 5vh;
}

.buscarTexto{
    width: 70vh;
}

.buscarBoton{
    width: 20vh;
}

.modoOscuro{
    margin-left: -8vh;
}

footer{
    margin-top: 40vh;
}

