/*CABECERA*/
header{ 
    background-color: var(--marron); 
    height: 10vh;       
}

#pokemonHead{
    margin-top: -8vh;
}

#headTitle{
    margin-left: 1vh;
}

/*CUERPO*/
.container{
    display: grid; 
    grid-template-columns: 2fr, repeat(2, 1fr);
    grid-template-areas: "button title title sunmoon"
                         "image image number type" 
                         "image image wightPokemon heightPokemon"
                         "image image live speed"
                         "image image defense attack"
                         "image image defenseSpecial attackSpecial"
                         "evolution evolution evolution evolution";
    margin-left: 0;
    font-size: 2vw;
}

/*BOTÓN*/
.button{
    margin-left: 10vh;
}

/*TÍTULO*/
#textPokemon {
    grid-area: title;
    margin: auto; /*Centrar*/
    margin-top: 15vh;
    font-size: 10vh;
}

/*BARRAS + TÍTULOS*/
.positionPokemon{
    grid-area: image;
    margin-left: 20vh;
}

#imagePokemon{
    width: 70vh;
}

#typePokemon, #numberPokemon, #weightPokemon, #heightPokemon{
    width: 20vh;
    margin: auto; 
    margin-left: -2vh;
} 

#numberPokemon{
    grid-area: number;
    margin-left: 25vh;
}

#typePokemon{
    grid-area: type;
}

#weightPokemon{
    grid-area: wightPokemon;
    margin-left: 25vh;

}

#heightPokemon{
    grid-area: heightPokemon;
    margin-left: -2vh;
}

.live{
    grid-area: live; 
}

.attack{
    grid-area: attack; 
    margin-left: -25vh;
}

.defense{
    grid-area: defense;
    margin-left: 6vh;
}

.attackSpecial{
    grid-area: attackSpecial; 
}

.defenseSpecial{
    grid-area: defenseSpecial; 
    margin-left: 15vh;
}

.speed{
    grid-area: speed; 
}

.evolution{
    grid-area: evolution; 
    display: flex;
    justify-content: center;
}

.attackSpecial, .defenseSpecial{
    width: 100%;
}

.livePosition, .defensePosition{
    margin-left: 20vh;
}

.livePosition2{
    margin-left: 22vh;
}

.defensePosition2{
    margin-left: 15vh;
}

.defenseSpecialPosition{
    margin-left: 10vh;

}

.defenseSpecialPosition2{
    margin-left: -10vh;
}

.speedPosition{
    margin-left: -7vh;
}

.speedPosition2{
    margin-left: -15vh;
}

.attackPosition{
    margin-left: 15vh;
}

.attackPosition2{
    margin-left: 11vh;
}

.attackSpecialPosition{
    margin-left: 6vh;
}

.attackSpecialPosition2{
    margin-left: -12vh;
}

/*EVOLUCIÓN*/
.imageEvolution{
    width: 50vh;
}

#arrow1{
    margin-top: 45vh;
    transform: rotate(0deg); /*Lo ponemos horizontal*/
}

#arrow2{
    margin-top: 45vh;
    transform: rotate(0deg); 
}


footer{
    margin-top: 10vh;
}
